   <tr>
        <th>{{jersey_num}}</th>
        <th><a href="/profile/{{user_id}}">{{user.first_name}} {{user.last_name}}</a></th>
        <th><a href="/team/{{coach.id}}">{{coach.team_name}}</a>
        </th>
        <th>{{goals}}</th>
        <th>{{assists}}</th>
        <th>{{penalty_minutes}}</th>
    </tr>